<h1>Listing facilities</h1>

<div id='map'></div>

<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>

  <%= gmaps4rails(@json) %>

    <% @facilities.each do |facility| %>
      <tr>
        <td><%= facility.id %></td>
        <td><%= facility.name %></td>
        <td><%= link_to 'Show', facility %></td>
        <td><%= link_to 'Edit', edit_facility_path(facility) %></td>
        <td><%= link_to 'Destroy', facility, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Facility', new_facility_path %>
